<table class="activities">
    <tr class="header">
        <th>Date</th>
        <th>Time</th>
        <th>Distance</th>
        <th>Pace</th>
        <th>Average HR</th>
        <th>Cadence</th>
        <th>Calories</th>
        <th>Ascent</th>
        <th>Location</th>
    </tr>
    <tr class="unit-row">
        <td>dd/mm/yy</td>
        <td>hh:mm:ss</td>
        <td>km</td>
        <td>min/km</td>
        <td>bpm</td>
        <td>spm</td>
        <td>kCal</td>
        <td>m</td>
        <td>place</td>
    </tr>
    <tr>
        <td>03/03/25</td>
        <td>1:15:04</td>
        <td>11.55</td>
        <td>6:30</td>
        <td>172</td>
        <td>166</td>
        <td>836</td>
        <td>134</td>
        <td>City Loop</td>
    </tr>
</table>