<input type="text" id="year" onkeyup="filterYear()" placeholder="Year">

<div id="output"></div>

<table id="activities" class="table-auto w-10/12 m-auto text-sm border-collapse my-10">
    <tr class="header-row">
        <th>Date</th>
        <th>Time</th>
        <th>Distance</th>
        <th>Pace</th>
        <th>Average HR</th>
        <th>Cadence</th>
        <th>Calories</th>
        <th>Ascent</th>
        <th>Location</th>
        <th class="hidden">Year</th>
        <th class="hidden">Month</th>
    </tr>
    <tr class="unit-row italic bg-gray-50">
        <td>dd/mm/yy</td>
        <td>hh:mm:ss</td>
        <td>km</td>
        <td>min/km</td>
        <td>bpm</td>
        <td>spm</td>
        <td>kCal</td>
        <td>m</td>
        <td>route</td>
        <td class="hidden">year</td>
        <td class="hidden">month</td>
    </tr>
    {% for item in running %}
    <tr class="data-row">
        <td>{{ item.Date }}</td>
        <td>{{ item.Time }}</td>
        <td>{{ item.Distance }}</td>
        <td>{{ item.Pace }}</td>
        <td>{{ item.AvgHR }}</td>
        <td>{{ item.Cadence }}</td>
        <td>{{ item.Calories }}</td>
        <td>{{ item.Ascent }}</td>
        <td>{{ item.Location }}</td>
        <td class="hidden">{{ item.Date | postDateIso("yyyy") }}</td>
        <td class="hidden">{{ item.Date | postDateIso("LLL")}}</td>
    </tr>
    {% endfor %}
</table>